@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #ec2020;
  --color-secondary: #298ce8;
  --color-white: #ffffff;
  --bg-dark: #2a2b2f;
  --bg-darker: #18191a;
}

html {
  font-size: 16px;
}

/* ================== Typography ================== */

h1 {
  font-size: 4rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.txt-brand {
  color: var(--color-primary);
}

/* ================== Layout ================== */

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
/* ================== Layout - end ================== */

/* ================== Buttons ================== */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.8;
}

/* ================== Navbar ================== */
.header {
  background-color: var(--bg-dark);
}

.navbar {
  height: 70px;
  align-items: center;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--color-white);
}

.navbar-list {
  gap: 2rem;
  align-items: center;
}

.navbar-list li a {
  color: var(--color-white);
  font-weight: 300;
  transition: 0.2s;
}

.navbar-list li a:hover {
  color: var(--color-primary);
}

/* ================== Navbar - end ================== */
