@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #ec2020;
  --color-secondary: #298ce8;
  --color-white: #ffffff;
  --bg-dark: #1f2024;
  --bg-darker: #18191a;
  --gradient: linear-gradient(var(--bg-dark), var(--bg-darker));
  --pricing-gradient: linear-gradient(45deg, var(--color-primary), #831515);
}

html {
  font-size: 16px;
}

/* ================== Typography ================== */

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.txt-brand {
  color: var(--color-primary);
}

.txt-lead {
  font-size: 18px;
}

/* ================== Layout ================== */

.container {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
/* ================== Layout - end ================== */

/* ================== Buttons ================== */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  background: none;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn-secondary:hover {
  background-color: var(--color-primary);
}

/* ================== Navbar ================== */
.header {
  background-color: var(--bg-dark);
}

.navbar {
  height: 90px;
  align-items: center;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--color-white);
}

.navbar-list {
  gap: 2rem;
  align-items: center;
}

.navbar-list li a {
  color: var(--color-white);
  font-weight: 300;
  transition: 0.2s;
}

.navbar-list li a:hover {
  color: var(--color-primary);
}

/* ================== Navbar - end ================== */

/* ================== Hero ================== */

.hero {
  height: calc(100vh - 90px);
  background: var(--gradient);
}

.hero-content {
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.hero-text h1 {
  color: var(--color-white);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-text p {
  color: var(--color-white);
  opacity: 0.7;
  line-height: 1.8;
  font-weight: 300;
  max-width: 600px;
}

.hero-text button {
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.hero-img img {
  width: 340px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
}
/* ================== Hero - end ================== */

/* ================== About ================== */

#about {
  background-color: var(--bg-dark);
  height: 100vh;
}

.about-content {
  height: 100%;
  align-items: center;
  gap: 7rem;
}

.about-img img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.about-text h2 {
  color: var(--color-white);
  line-height: 1.3;
  margin-bottom: 2rem;
}

.about-text p {
  color: var(--color-white);
  opacity: 0.7;
  line-height: 1.8;
  font-weight: 300;
  max-width: 500px;
}

.about-text button {
  margin-top: 2rem;
}

/* ================== About - end ================== */

/* ================== Programs - start ================== */

#programs {
  background-color: var(--bg-darker);
  height: 100vh;
}

.programs-content {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.programs-text {
  color: var(--color-white);
}

.programs-text p {
  max-width: 500px;
  color: var(--color-white);
  opacity: 0.7;
  font-weight: 300;
}

.programs-boxes {
  flex-wrap: wrap;
  justify-content: space-between;
}

.programs-box {
  width: 250px;
  height: 220px;
  position: relative;
  border-radius: 10px;
  background-color: var(--bg-dark);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.programs-box:nth-child(2) {
  background-color: var(--color-primary);
}

.programs-box h3 {
  margin-bottom: 0.5rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.programs-box p {
  color: var(--color-white);
  opacity: 0.7;
  font-weight: 300;
}

.programs-box:hover {
  background-color: var(--color-primary);
}

/* ================== Programs - end ================== */

/* ================== Pricing - start ================== */
#pricing {
  background-color: var(--bg-dark);
  height: 100vh;
}

.pricing-content {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  color: var(--color-white);
}

.pricing-text {
  text-align: center;
}

.pricing-boxes {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.pricing-box {
  width: 290px;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  transition: 0.3s;
  position: relative;
}

.pricing-box:nth-child(2) {
  background: var(--pricing-gradient);
  height: 420px;
  width: 320px;
}

.pricing-box:nth-child(2) button {
  background-color: var(--color-white);
  color: var(--color-primary);
  opacity: 0.7;
}

.pricing-box:nth-child(2) button:hover {
  opacity: 1;
}

.pricing-box:hover {
  transform: scale(1.05);
}

.pricing-box p {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
  font-weight: 700;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 2rem;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
}

.pricing-box h3 {
  text-align: center;
  font-size: 3rem;
  display: inline-block;
  margin-top: 2rem;
}

.pricing-box .per-month {
  font-size: 14px;
}

.pricing-box ul {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.pricing-box ul li::before {
  content: "\2713";
  padding-right: 0.7rem;
}

.pricing-box button {
  width: 100%;
  margin-top: 2rem;
}

/* ================== Pricing - end ================== */

/* ================== Pricing - start ================== */
#testmonials {
  background-color: var(--bg-darker);
  height: 80vh;
}

#testmonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3rem;
  color: var(--color-white);
}

.testmonials-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.testmonial-box {
  background-color: var(--bg-dark);
  padding: 1.4rem;
  height: 280px;
  width: 350px;
  border-radius: 0.5rem;
  border: 1px solid #ffffff13;
}

.testmonial-box .testmonial-box_header {
  gap: 1rem;
  align-items: center;
}

.testmonial-box_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.box_header-text h3 {
  font-size: 1rem;
  font-weight: 500;
}

.box_header-text p {
  font-size: 0.8rem;
  opacity: 0.4;
}

.testmonial-box_text {
  font-size: 0.9rem;
  opacity: 0.7;
  line-height: 1.7;
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
}

/* ================== Pricing - end ================== */
